#main {
  background-image: url("/static/main/img/background.png");
  height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
    padding: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html{
       width: 100%;
       max-width: 100%;
       overflow-x: hidden;
}

.menu-block2{
    color: #465ee5 !important;
}

li{
    padding: 0 20px;
}

.menu-block1{
    color: black !important;
}

.li {
    padding-left: 10px;
    padding-right: 10px;
}

.bg-primary {
    background: none !important;
    margin: 0 !important;
}

.container {
    margin-top: 20px; /* Верхний отступ от страницы */
    margin-bottom: 20px; /* Нижний отступ от страницы */
}