{% extends 'main/base.html' %}
{% block title %}
Курсы для ЕГЭ
{% endblock %}

{% block content %}
<body>
    <h2>EGE Courses</h2>
    {% for course in courses %}
    {% if course.category == 'ege' %}
    <div class="card" style="width: 18rem;">
        <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <a href="#" class="btn btn-primary">Add Course</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</body>
{% endblock %}